// Colors
$very-dark-blue: #0A2B40;
$dark-blue: #15557F;
$vivid-blue: #29ABFF;
$dark-gray: #989898;
$light-gray: #CCC;
$vivid-red: #FF2D3D;
$white: #FFF;

// Fonts
$font-stack-primary: 'Source Sans Pro', sans-serif;
$font-stack-secondary: 'PT Sans', sans-serif;

// Grid
$pad-vert-primary: 0.5rem;
$pad-horiz-primary: 1.25rem;
$ipad3-portrait: 768px;
$ipad3-landscape: 1024px;
$iphone6-portrait: 375px;
$iphone6-landscape: 667px;
$iphone4-portrait: 320px;
$iphone4-landscape: 480px;
